.page{

  &.events{

    padding:20px 0px;
    .event {
      border-top: 1px solid #cccccc;
      padding: 10px 0px;
      &:first-child {
        border-top: none;
      }
      .title {
        @include inline-block;
        width: 100%;
        color: $primary-color;
        text-transform: uppercase;
        padding: 0px 20px;

      }

      .text {
        @include inline-block;
        width: 100%;
        color: $third-color;
        font-weight: 300;
        padding: 0px 20px;

      }
    }
  }
}